
*{
    margin: 0em;
    padding: 0em;
}

body {
    margin: 1.5em auto;
    width:80%;
}

header{
    background-color:black;
}

header img{
    width:420px;
    border-top: 1.5px solid black;
}

nav{
    padding-top:0.1em;
    text-align: right;
    background-color: rgb(130, 127, 127);
    border-bottom: 3.5px solid black;  
}

nav a {
    display:inline-block;
    background-color: rgb(59, 148, 184);
    text-decoration:none;
    color: white;
    padding:0.1em 1.5em ;
    margin-left: 10px;
}

nav a:hover, nav a:focus{
    color: black;
    background-color: rgb(88, 85, 85);
}

aside{
    width: 25%;
    height:400px;
    float:left;
    border-right: 3px solid black;
}

aside h2{
    padding:0.7em 2em;
    text-align: left;
    color: red;
    font-weight: bold;
}

aside ul{
    list-style: none;
}
aside ul li{
    text-align: center;
}
main{
    width:74%;
    float:right;
}

main h1{
    padding: 1em 0;
}

main p {
    padding-bottom: 0.9em;
}

footer{
    clear:both;
    color:white;
    background-color: black;
    text-align:center;
}


